img{
    width: 100px;
    border-radius: 50%;
    box-shadow: 0 0 8px rgba(182, 182, 182, 0.8); 
}
.age{
    color: #b6b6b6;
}
.profession{
    border-top: 1px solid #e3e3e3;
    padding-top: 5px;
    list-style: none;
    padding-left: inherit;
}